<footer class="footer">
    <div class="container pt-13 pb-13">
        <div class="row text-white justify-content-between">
            <div class="col-lg-7 d-md-flex">
                <img class="mb-7 mb-lg-0" src="../assets/svg/logo/logo-white.svg" alt="咖啡全是學LOGO" width="200"
                    height="194">
                <div class="d-flex flex-column justify-content-center ms-md-6 mb-7 mb-lg-0">
                    <div class="mb-4">
                        <p class="fs-7 fs-md-5">感謝您造訪我們。<br>
                            我們經營理念是「咖啡可以是您自我追尋的旅程」，<br>
                            在這路上我們一起欣賞！</p>
                    </div>
                    <div>
                        <a href="#"><i class="bi bi-twitter-x me-5 fs-4"></i></a>
                        <a href="#"><i class="bi bi-facebook me-5 fs-4"></i></a>
                        <a href="#"><i class="bi bi-instagram fs-4"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-column justify-content-between">
                <div class="mb-3">
                    <p class="fs-9 fs-md-5">地址：</p>
                    <p class="fs-8 fs-md-4">嘉義縣朴子市南通路３段83巷25號</p>
                </div>
                <div class="mb-3">
                    <p class="fs-9 fs-md-5">聯絡方式：</p>
                    <a href="tel:+886-008865-6095882" class="fs-8 fs-md-4">008865-6095882</a>
                </div>
                <div>
                    <p class="fs-9 fs-md-5">聯絡信箱：</p>
                    <a href="mailto:yoohkwjsix@iubridge.com" class="fs-8 fs-md-4">yoohkwjsix@iubridge.com</a>
                </div>
            </div>
        </div>
    </div>


</footer>