<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand h1 me-auto" href="#"><img src="../assets/svg/logo/logo.svg"
                        alt="咖啡全是學品牌LOGO"></a>
                <i class="bi bi-cart3 d-lg-none me-6" style="font-size: 28px;"></i>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex col-12 col-lg-6 position-relative mt-6 mb-6 ms-xl-6 me-lg-11">
                        <input type="search" id="search-cafe" class="form-control rounded-pill" aria-label="search">
                        <span class="position-absolute top-50 start-0 translate-middle ms-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="color: #6d6d6d;"
                                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </span>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-end">
                        <li class="nav-item mb-6 mb-lg-0 me-xl-9">
                            <a class="nav-link active" aria-current="page" href="index.html">首頁</a>
                        </li>
                        <li class="nav-item mb-6 mb-lg-0 me-xl-9">
                            <a class="nav-link" href="products.html">咖啡品項</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">關於我們</a>
                        </li>
                    </ul>
                    <a href=""><i class="bi bi-cart3 d-none d-lg-block me-lg-9" style="font-size: 28px;"></i></a>
                    <a href=""><i class="bi bi-person-circle d-none d-lg-inline-block" style="font-size: 28px;"></i></a>
                </div>
            </div>
        </nav>
    </div>

</header>