.header {
  background-color: $primary-100;
}
.navbar input:focus {
  z-index: 10;
}
#search-cafe {
  border: 1px solid #a4b4bc;
}

@media (max-width: 768px) {
  .navbar-collapse {
    height: 100vh;
  }
}
