<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>
    <main class="container">
      <p class="display">Traceable from Seed to Cup.</p>
      <section class="welcome">
      <div class="w1">
      <h1 class="ts">歡迎來到「咖啡全是學」！</h1>   
      <p class="tb-1">「咖啡全是學」專注於探索咖啡的無限可能性，
          從產地到杯中，每一杯都是一場自我發現之旅。</p>
      </div>
          <img class="im"src="about.png" alt="about">
      </section>
      <div class="apply">
      <div class="m1">
          <h3 class="mission">我們的使命</h3>
          <p class="mp">我們致力於啟發每一位品嚐者，開始他們的咖啡探索之旅，深入瞭解咖啡的文化與風味。</p>
      </div>
      <div class="m2">
          <h3 class="mission">我們的使命</h3>
          <p class="mp">我們致力於啟發每一位品嚐者，開始他們的咖啡探索之旅，深入瞭解咖啡的文化與風味。</p>
      </div>
      <div class="m3">
          <h3 class="mission">我們的使命</h3>
          <p class="mp">我們致力於啟發每一位品嚐者，開始他們的咖啡探索之旅，深入瞭解咖啡的文化與風味。</p>
      </div>
      </div>
      <div class="slogan">
      <h3>在「咖啡全是學」，讓我們一同開啟屬於咖啡的奇妙旅程！</h3>
      </div>
  </section>
     <section  class="award">
     <h2 class="ti">其他品項</h2> 
     <div class="df"> 
      <img class="aw1" src="Vector.png" alt="cr2021">
      <div class="desc">
      <h4>2021年3月  Gedeo Kochere Reko. 日曬</h4>
      <a class="link" href="#">連結點此</a>
      </div>
     </div>
      <div class="df"> 
          <img class="aw1" src="Vector.png" alt="cr2022-7">
      <div  class="desc">    
          <h4>2022年7月 薩爾瓦多  El Salvador Finca La Esperanza 紅波旁紅波旁</h4>
          <a class="link" href="#">連結點此</a>
      </div>  
      </div>
      <div class="df"> 
          <img class="aw1" src="Vector.png" alt="cr2022-12">
          <div class="desc">  
          <h4>2022年12月薩爾瓦多  El Salvador Finca La Esperanzal 蘇丹汝曼日曬</h4>
          <a class="link" href="#">連結點此</a>
      </div>
     </div>
      <div class="df"> 
          <img class="aw1" src="Vector (1).png" alt="itce-ca1">
      <div class="desc">   
          <h4>沖煮式咖啡CA1組 衣索比亞西達摩花娜貝果水洗</h4>
      </div>
      </div>
      <div class="df"> 
          <img  class="aw1" src="Vector (1).png" alt="itce-ca2">
          <div class="desc">
          <h4>沖煮式咖啡CA2組 蘇門答臘曼特寧水洗</h4>
      </div>
      </div>
      <div class="df"> 
          <img  class="aw1" src="Vector (1).png" alt="itce-cc">
          <div class="desc">
          <h4>濾袋耳掛咖啡CC組 衣索比亞西達摩花娜貝果水洗</h4>
          </div>
      </div>
      <div class="df"> 
          <img  class="aw1" src="Vector (2).png" alt="gb-c3">
          <div class="desc">
          <h4>Category #1：Espresso（Short Black）衣索比亞 / 吉瑪莉姆 / 果美村 水洗寶貝藝妓</h4>
      </div>
      </div>
      <div class="df"> 
          <img  class="aw1" src="Vector (2).png" alt="gb-c3">
          <div class="desc">
          <h4>Category #3：Pour Over Filter 衣索比亞 / 烏拉嘎G1 / 水洗茉香柚</h4>
      </div>
      </div>
      <div class="df"> 
          <img   class="aw1" src="Vector (2).png" alt="gb-c3">
          <div class="desc">
          <h4>Category #3：Pour Over Filter 衣索比亞 / 金迪歐 / 耶加雪菲水洗</h4>
      </div>
      </div>
      </div>
  </section>
  
  </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>