<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>collections</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>
    <div class="main-container">
      <section class="banner">
        <img src="banner.png" alt="banner">
      </section>
      <section class="new-products">
        <h1 class="np-h1">2024七月新品</h1>
      <section class="africa-products">
      <article class="africa"> 
          <img class="d-flex" src="africa.png" alt="africa">
          <div class="desc">
            <h1 class="desc-af">非洲</h1>
            <p class="fs-3">咖啡產區國家代表：</p>
            <p class="fs-2">衣索比亞、肯亞、盧安達、烏干達，坦薩尼亞</p>
            <p class="fs-21">作為全世界最具異國風味的咖啡故鄉，非洲產區所生產的咖啡風味最具<br>多樣化。<br>從獨特的花果香、水果特徵明亮的葡萄柚、柑橘調香味，再到充滿異國<br>情調的香料味與迷人的莓果味，多樣的咖啡風味帶來夢幻般的享受。<br>以肯亞咖啡為例，活潑奔放的果酸氣息十足。</p>
          </div>
        </article>
        <section class="product-cards">
          <div class="slider">
          <div class="dg">
          <div class="card">
            <img src="co-image1.png" alt="co-image 1">
            <div class="cb-1">
            <p  class="caption">Blue Java Full Washed Arabica / BlueJava Situ Full Washed</p>
            <h6>藍鑽爪哇全水洗阿拉比卡</h6>
            </div>
            <div class="=cb-2">
            <p class="caption">風味就像……</p>
            <p class="tb-3">果香甜、柳丁、醇度適中、尾韻乾淨</p>
            </div>
            <div class="cb-3">
            <p class="tb-3b">全水洗處理｜<span class="en-o">Specialty</span></p>
            </div>
            <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image2.png" alt="co-image 2"> 
              <div class="cb-1">
              <p  class="caption">Blue Java Winey Arabica / Blue Java Situ Winey</p>
              <h6>藍鑽爪哇酒香阿拉比卡</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">酒香、莓果、甜感濃郁、尾韻甜</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">酒香日曬處理｜ <span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image3.png" alt="co-image 3">
              <div class="cb-1">
              <p  class="caption">Blue Java Natural Arabica / Blue Java Situ Natural</p>
              <h6>藍鑽爪哇日曬阿拉比卡</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">鳳梨、蘋果、水蜜桃、醇度適中、甜感濃郁尾韻甜</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">天然日曬處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image4.png" alt="co-image 4">
              <div class="cb-1">
              <p  class="caption">Blue Java Situ Arabica</p>
              <h6>藍鑽爪哇阿拉比卡</h6>
              </div>
              <div class="cb-2">  
              <p class="caption">風味就像……</p>
              <p class="tb-3">蘋果、雪松、巧克力、葡萄乾、香料的香氣</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">濕剝半水洗處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image5.png" alt="co-image 5">
              <div class="cb-1">
              <p  class="caption">Situ White Honey Blue Java / Blue Java Situ White Honey</p>
              <h6>藍鑽爪哇暖陽日曬阿拉比卡</h6>
            </div>
            <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">柑橘、水蜜桃、鳳梨、醇度適中、甜感濃郁尾韻甜</p>
            </div>
            <div class="cb-3">
              <p class="tb-3b">天然日曬處理｜<span class="en-o">Specialty</span></p>
            </div>  
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image6.png" alt="co-image 6">
              <div class="cb-1">
              <p  class="caption">Situ White Honey Blue Java / Blue Java Situ White Honey</p>
              <h6>藍鑽爪哇白蜜</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">花香、滑順口感</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">白蜜處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image7.png" alt="co-image 7">
              <div class="cb-1">
              <p  class="caption">Diamond Mandheling Gayo Yellow Honey-Mountain</p>
              <h6>綠鑽曼特寧迦幼黃蜜－高海拔</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">蜂蜜露、柑橘、酒香、漂亮酸度、尾韻悠長</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">黃蜜處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image8.png" alt="co-image 8">
              <div class="cb-1">
              <p  class="caption">Toraja Super Sapan</p>
              <h6>托拉加高地薩本</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">玫瑰、甜辣辛香料、洛神花、鳳梨、鐵觀音、焦糖尾韻</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">半水洗處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6> 
          </div>
        </div> 
        </div>
        <div class="controls">
          <button class="prev">Prev</button>
          <button class="next">Next</button>
        </div>
        </section>
        <div class="btn">查看全部商品</div> 
      </section> 
      <section class="america-products"> 
       <article class="america">
          <img class="d-flex" src="america.png"" alt="central and south america">
          <div class="desc">
            <h1 class="desc-am">中南美洲</h1>
            <p class="fs-3">咖啡產區國家代表：</p>
            <p class="fs-2">瓜地馬拉、哥倫比亞、巴西及墨西哥等國家</p>
            <p class="fs-21">作為全世界最具異國風味的咖啡故鄉，非洲產區所生產的咖啡風味最具多樣化。
              從獨特的花果香、水果特徵明亮的葡萄柚、柑橘調香味，再到充滿異國情調的香料味與迷人的莓果味，多樣的咖啡風味帶來夢幻般的享受。
              以肯亞咖啡為例，活潑奔放的果酸氣息十足。</p>
          </div>
        </article>
        <section class="product-cards">
          <div class="slider">
          <div class="dg">
          <div class="card">
            <img src="co-image1.png" alt="co-image 1">
            <div class="cb-1">
            <p  class="caption">Blue Java Full Washed Arabica / BlueJava Situ Full Washed</p>
            <h6>藍鑽爪哇全水洗阿拉比卡</h6>
            </div>
            <div class="=cb-2">
            <p class="caption">風味就像……</p>
            <p class="tb-3">果香甜、柳丁、醇度適中、尾韻乾淨</p>
            </div>
            <div class="cb-3">
            <p class="tb-3b">全水洗處理｜<span class="en-o">Specialty</span></p>
            </div>
            <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image2.png" alt="co-image 2"> 
              <div class="cb-1">
              <p  class="caption">Blue Java Winey Arabica / Blue Java Situ Winey</p>
              <h6>藍鑽爪哇酒香阿拉比卡</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">酒香、莓果、甜感濃郁、尾韻甜</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">酒香日曬處理｜ <span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image3.png" alt="co-image 3">
              <div class="cb-1">
              <p  class="caption">Blue Java Natural Arabica / Blue Java Situ Natural</p>
              <h6>藍鑽爪哇日曬阿拉比卡</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">鳳梨、蘋果、水蜜桃、醇度適中、甜感濃郁尾韻甜</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">天然日曬處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image4.png" alt="co-image 4">
              <div class="cb-1">
              <p  class="caption">Blue Java Situ Arabica</p>
              <h6>藍鑽爪哇阿拉比卡</h6>
              </div>
              <div class="cb-2">  
              <p class="caption">風味就像……</p>
              <p class="tb-3">蘋果、雪松、巧克力、葡萄乾、香料的香氣</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">濕剝半水洗處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image5.png" alt="co-image 5">
              <div class="cb-1">
              <p  class="caption">Situ White Honey Blue Java / Blue Java Situ White Honey</p>
              <h6>藍鑽爪哇暖陽日曬阿拉比卡</h6>
            </div>
            <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">柑橘、水蜜桃、鳳梨、醇度適中、甜感濃郁尾韻甜</p>
            </div>
            <div class="cb-3">
              <p class="tb-3b">天然日曬處理｜<span class="en-o">Specialty</span></p>
            </div>  
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image6.png" alt="co-image 6">
              <div class="cb-1">
              <p  class="caption">Situ White Honey Blue Java / Blue Java Situ White Honey</p>
              <h6>藍鑽爪哇白蜜</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">花香、滑順口感</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">白蜜處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image7.png" alt="co-image 7">
              <div class="cb-1">
              <p  class="caption">Diamond Mandheling Gayo Yellow Honey-Mountain</p>
              <h6>綠鑽曼特寧迦幼黃蜜－高海拔</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">蜂蜜露、柑橘、酒香、漂亮酸度、尾韻悠長</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">黃蜜處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image8.png" alt="co-image 8">
              <div class="cb-1">
              <p  class="caption">Toraja Super Sapan</p>
              <h6>托拉加高地薩本</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">玫瑰、甜辣辛香料、洛神花、鳳梨、鐵觀音、焦糖尾韻</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">半水洗處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6> 
          </div>
        </div> 
        </div>
        <div class="controls">
          <button class="prev">Prev</button>
          <button class="next">Next</button>
        </div>
        </section>
        <div class="btn">查看全部商品</div> 
      </section>
      <section class="asia-products">  
        <article class="asia">
          <img class="d-flex" src="asia.png" alt="asia">
          <div class="desc">
            <h1 class="desc-as">亞洲</h1>
            <p class="fs-3">咖啡產區國家代表：</p>
            <p class="fs-2">印尼蘇門答臘、巴布亞新幾內亞、雲南、越南。
              （亞洲太平洋產區包括印尼群島、東帝汶、南亞和巴布亞新幾內亞）</p>
            <p class="fs-21">龐大的咖啡種植區域橫跨各種氣候和地形，在亞洲產區可以找到世界上最與眾不同的咖啡風味，已具有濃郁芳香、帶著草本調性和溫和香料的風味為名，咖啡渾厚的純度帶來強烈的尾韻，耐人尋味。</p>
          </div>
        </article>
        <section class="product-cards">
          <div class="slider">
          <div class="dg">
          <div class="card">
            <img src="co-image1.png" alt="co-image 1">
            <div class="cb-1">
            <p  class="caption">Blue Java Full Washed Arabica / BlueJava Situ Full Washed</p>
            <h6>藍鑽爪哇全水洗阿拉比卡</h6>
            </div>
            <div class="=cb-2">
            <p class="caption">風味就像……</p>
            <p class="tb-3">果香甜、柳丁、醇度適中、尾韻乾淨</p>
            </div>
            <div class="cb-3">
            <p class="tb-3b">全水洗處理｜<span class="en-o">Specialty</span></p>
            </div>
            <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image2.png" alt="co-image 2"> 
              <div class="cb-1">
              <p  class="caption">Blue Java Winey Arabica / Blue Java Situ Winey</p>
              <h6>藍鑽爪哇酒香阿拉比卡</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">酒香、莓果、甜感濃郁、尾韻甜</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">酒香日曬處理｜ <span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image3.png" alt="co-image 3">
              <div class="cb-1">
              <p  class="caption">Blue Java Natural Arabica / Blue Java Situ Natural</p>
              <h6>藍鑽爪哇日曬阿拉比卡</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">鳳梨、蘋果、水蜜桃、醇度適中、甜感濃郁尾韻甜</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">天然日曬處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image4.png" alt="co-image 4">
              <div class="cb-1">
              <p  class="caption">Blue Java Situ Arabica</p>
              <h6>藍鑽爪哇阿拉比卡</h6>
              </div>
              <div class="cb-2">  
              <p class="caption">風味就像……</p>
              <p class="tb-3">蘋果、雪松、巧克力、葡萄乾、香料的香氣</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">濕剝半水洗處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image5.png" alt="co-image 5">
              <div class="cb-1">
              <p  class="caption">Situ White Honey Blue Java / Blue Java Situ White Honey</p>
              <h6>藍鑽爪哇暖陽日曬阿拉比卡</h6>
            </div>
            <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">柑橘、水蜜桃、鳳梨、醇度適中、甜感濃郁尾韻甜</p>
            </div>
            <div class="cb-3">
              <p class="tb-3b">天然日曬處理｜<span class="en-o">Specialty</span></p>
            </div>  
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image6.png" alt="co-image 6">
              <div class="cb-1">
              <p  class="caption">Situ White Honey Blue Java / Blue Java Situ White Honey</p>
              <h6>藍鑽爪哇白蜜</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">花香、滑順口感</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">白蜜處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image7.png" alt="co-image 7">
              <div class="cb-1">
              <p  class="caption">Diamond Mandheling Gayo Yellow Honey-Mountain</p>
              <h6>綠鑽曼特寧迦幼黃蜜－高海拔</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">蜂蜜露、柑橘、酒香、漂亮酸度、尾韻悠長</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">黃蜜處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6>
          </div>
          <div class="card">
              <img src="co-image8.png" alt="co-image 8">
              <div class="cb-1">
              <p  class="caption">Toraja Super Sapan</p>
              <h6>托拉加高地薩本</h6>
              </div>
              <div class="cb-2">
              <p class="caption">風味就像……</p>
              <p class="tb-3">玫瑰、甜辣辛香料、洛神花、鳳梨、鐵觀音、焦糖尾韻</p>
              </div>
              <div class="cb-3">
              <p class="tb-3b">半水洗處理｜<span class="en-o">Specialty</span></p>
              </div>
              <h6>＄400</h6> 
          </div>
        </div> 
        </div>
        <div class="controls">
          <button class="prev">Prev</button>
          <button class="next">Next</button>
        </div>
        </section> 
      </div>
  </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
